.my-friends {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px auto;
    width: 80%;
  }
  
  .search-users, .friend-requests, .friends-list {
    margin-bottom: 20px;
  }
  
  .search-users input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
  }
  
  .search-users button, .friend-requests button, .friends-list button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  

  .search-users button:hover, .friend-requests button:hover, .friends-list button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  